{% extends "utah_algal_blooms/base.html" %}
{% load tethys_gizmos %}
{% load static %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
{% endblock %}

{% block app_content %}
  <h1>Background</h1>
  <p>In recent years, water bodies across the state of Utah have experienced an increase in blue-green algae, commonly
  referred to as harmful algal blooms. These algal blooms contain toxins that can be harmful, even deadly, to most
  animals, including humans. This app is designed to keep track of harmful algal blooms as they appear in lakes/reservoirs
  throughout Utah.</p>
  <h1>How it Works</h1>
  <p>When an algal bloom occurs, for example in Utah Lake, you can add descriptive information to the table (location,
    year, severity, etc). You can also use the interactive map to add a point at the location in Utah Lake the bloom occurred
    which will store the coordinates and allow the point to appear on the map on the home page. </p>

<img src="{% static 'utah_algal_blooms/images/bloom1.jpg' %}" id="bloom1">
<img src="{% static 'utah_algal_blooms/images/bloom2.jpg' %}" id="bloom2">

    <style>
        #bloom1 {
          width: 36%;
          bottom: 200px;
          position: fixed;
          }

        #bloom2 {
          width: 36%;
          height: 34.7%;
          position: fixed;
          left: 480px;
          bottom: 200px;
          }
    </style>


{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}
  <!-- Example Modal -->
  <div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h5 class="modal-title" id="help-modal-label">Example Modal</h5>
        </div>
        <div class="modal-body">
          <p>You can add custom buttons to the app header using the <code>header_buttons</code> block. Use anchor/link tags for the button and wrap it in a div with the class <code>header-button</code>. For buttons with the gliphyicons, add the <code>glyphicon-button</code> class as well.</p>
          <p>Ever have trouble using a modal in a Tethys app? Use the <code>after_app_content</code> block for modal content to allow them to function properly. See: <a href="https://getbootstrap.com/javascript/#modals">Bootstrap Modals</a></p>
          <p>Add tooltips to any element by adding the <code>data-toggle</code>, <code>data-placement</code>, and <code>title</code> attributes to the button. See: <a href="https://getbootstrap.com/javascript/#tooltips">Bootstrap Tooltips</a></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

